parameters:
	level: max
	bootstrapFiles:
		- phpstan-bootstrap.php
	scanFiles:
		- ../../../index.php
		- ../../../wp-config.php
		- ../../../wp-includes/link-template.php
	scanDirectories:
		- ../../../wp-content/plugins
		- ../../../wp-content/mu-plugins
		- vendor/wp-cli
		- ../../../wp-includes
	paths:
		- ../../../wp-content/plugins/movie-library